@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body{
  background: #345;
  color: #fff;
  font-family: Sans-Serif, Comic Sans MS;
  font-size: 16px;
  line-height: 1.5;
  margin: 10px;
}
.body{
  text-align: center;
}
i{
  70px
}
h1, h2{
  border-bottom-style: solid;
  border-top-style: solid;
  border-top-color: blue;
  border-bottom-color: red;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px){

i{
    margin-right: 2px;
}
}
