@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body{
  background-image: url('b.png');
  color: white;
  font-family: Sans-Serif, Times New Roman, Comic Sans MS;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5em;
  margin: 10px;
  margin-left: 10px;
}
h1, h2{
  text-align: center;
  font-size: 40px;
  background-image: url('a.png');
  color: white !important;
  background-position: center right;
  padding: 6px;
  border-radius: 60px;
  font-weight: bold;
}
.host{
  text-align: center;
  color: orange;
}
@media screen and (min-width: 768px){
  h1, h2{
    color: Red !important;
    background-position: center left;
  }
}
